# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDEs
.vscode/
.idea/
.vs/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Test results / coverage
TestResults/

# Publish output
publish/

# Tool binaries
tailwindcss.exe

# ReSharper / NCrunch
*.DotSettings.user
*.ncrunchproject
*.ncrunchsolution
